@model ProjetoFinal.Models.Produtos
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <h3 class="page-header">Editar</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <section class="panel">
                    <div class="panel-body">
                        <form class="form-validate form-horizontal" id="feedback_form" method="post" action="/Produtos/Atualiza">

                            <input type="hidden" value="@ViewBag.Produto.ID" name="produto.ID">

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="name">Nome</label>
                                <div class="col-sm-6">
                                    <input value="@ViewBag.Produto.Nome" type="text" class="form-control" id="nome" name="produto.nome" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="marca">Marca</label>
                                <div class="col-sm-3">
                                    <input value="@ViewBag.Produto.Marca" type="text" class="form-control" id="marca" name="produto.Marca" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="tamanho">Tamanho</label>
                                <div class="col-sm-2">
                                    <input value="@ViewBag.Produto.Tamanho" type="text" class="form-control" id="tamanho" name="produto.Tamanho" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="categoria">Categoria</label>
                                <div class="col-sm-4">
                                    <select multiple class="form-control" id="categoria" name="produto.CategoriaId">
                                        @foreach (var categoria in ViewBag.Categorias)
                                        {
                                            <option value="@categoria.ID">@categoria.Nome</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="descricao">Descrição</label>
                                <div class="col-sm-8">
                                    <input value="@ViewBag.Produto.Descricao" type="text" class="form-control" id="descricao" name="produto.Descricao" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="quantidade">Quantidade</label>
                                <div class="col-sm-8">
                                    <input value="@ViewBag.Produto.Quantidade" type="text" class="form-control" id="quantidade" name="produto.Quantidade" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="valor">Valor</label>
                                <div class="col-sm-2">
                                    <input value="@ViewBag.Produto.Valor" type="text" class="form-control" id="valor" name="produto.Valor" />
                                </div>
                            </div>

                            <div>
                                <button type="submit" class="btn btn-primary">Alterar</button>
                                <button class="btn btn-danger" href="#">Cancelar</button>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>



